.flexslider {
  margin: 0 0 2rem;
  background: #fff;
  padding: 0;
  position: relative;
  zoom: 1;
  overflow: hidden;
  border: 0;
}

.flexslider .slides {
  padding: 0;
  zoom: 1;
}

.flexslider .slides li {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.flex-direction-nav a {
  overflow: unset;
  width: auto;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 35px;
  vertical-align: middle;
}

.slide__description {
  font-size: 1.5rem;
}

.slide__caption {
  color: white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.slide__title {
  color: #ffffff;
  font-size: 2.5rem;
}

.slide__caption-link,
.slide__caption-link:visited {
  background: #ffa400;
  border-radius: 0;
  border: 2px solid transparent;
  color: #ffffff;
  margin: 10px 0 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 12px 10px 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.slide__caption-link:hover,
.slide__caption-link:hover:visited {
  text-decoration: none;
  background: #cc8500;
  color: #fff;
}

.flexslider__administer {
  margin-left: 2rem;
}

/* Оформление медиа запросов. */

@media (min-width: 768px) {
  .slide__h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 992px) {
  .slide__title {
    font-size: 3rem;
  }
}

/* Оформление элементов администрирования. */

.b-sliders-weight__image {
  border: 2px #e3e3e3 solid;
  margin-bottom: 3px;
}

.b-sliders-weight__image:hover {
  cursor: move;
  border: 2px #00ff00 solid;
}

.slide__admin-link {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin: 2em 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.slide__admin-link:hover {
  background-color: #24557f;
  border-color: #24557f;
  text-decoration: none;
  color: #ffffff;
}
