<div id="b-sliders-weight-1" class="b-sliders-weight" stid="{{ slider_type.stid }}">
  {% for sid, slide in slides %}
    <div class="b-sliders-weight__slide" id="b-sliders-weight__slide-{{ sid }}">
      <img class="b-sliders-weight__image" src="{{ slide.image.style_url }}" alt="">
    </div>
  {% endfor %}
</div>
