<div class="flexslider flexslider__{{ name }}">
  <ul class="slides">
    {% for sid, slide in slides %}
      <li class="slide">
        <img src="{{ slide.image.style_url }}" alt="{{ slide.title }}">
        {% if slide.title or slide.description or slide.href or administrator %}
          {% if slide.href %}
            <a href="{{ slide.href }}" class="slide__image-link">
            {% endif %}
            <div class="slide__caption">
              <div class="slide__data">
                {% if slide.title %}
                  <div class="slide__title">{{ slide.title }}</div>
                {% endif %}

                {% if slide.description %}
                  <div class="slide__description">{{ slide.description }}</div>
                {% endif %}

                {% if slide.title_link and slide.href or administrator %}
                  <div class="slide__caption-links">
                    {% if slide.href %}
                      <a href="{{ slide.href }}" class="slide__caption-link">{{ slide.title_link }}</a>
                    {% endif %}

                    {% if administrator %}
                      <a class="slide__admin-link" href="/admin/config/kvantstudio/sliders/edit-slide/{{ stid }}/{{ sid }}">
                        {{ "Edit"|t }}
                      </a>
                      <a class="slide__admin-link" href="/admin/config/kvantstudio/sliders/delete-slide/{{ sid }}">
                        {{ "Delete"|t }}
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
            {% if slide.href %}
            </a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if administrator %}
    <div class="flexslider__administer">
      <a class="slide__admin-link" href="/admin/config/kvantstudio/sliders/edit-slider-type/{{ stid }}">
        {{ "Edit slider settings"|t }}
      </a>
    </div>
  {% endif %}
</div>
