<div class="sliders">
  {% for stid, slider in sliders %}
    <div class="sliders__item">
      <h1 class="sliders__title">{{ slider.title }}</h1>
      {{ slider.data }}
    </div>
  {% endfor %}
</div>
